## Pasted from gitignore.io

## Environment-specific items

# Linux/Unix specific temporary files
.nfs*

# macOS specific system files
.DS_Store
.AppleDouble
__MACOSX

# Windows specific system files
Desktop.ini

# Editor and IDE specific temporary or configuration files
*.swp
*.swo
.idea/
.vscode/

## Generic items

# env file
*.env*
!*.env*.template

# log
*.log

# back up
*.bak

# temp
*.tmp

# todo
TODO*

# memo
memo.*

## Docker-related items

# volumes
services/go-api/himaplus-api/
services/go-api/share/
services/go-api/log/
services/pb-authn/himaplus-authn/
services/pb-authn/log/
services/pb-authn/pb_data/
services/mysql-db/db_data/
services/mysql-db/db_data_dev/

## Project-specific items

# ライブラリなどリポジトリに含める必要のないディレクトリ

# デバッグ時のファイル

# asset direcotry

# upload directory

## Others items

# empty directory
!.gitignore
